  @using static UCHAJANASHIA.FINAL.Data.DTo.CatDTO
@model AddCatDto
<form action="/Cat/AddCat" method="post">
    <label> Name</label>
    <input name="Name" type="text"/>

    <label> Birhtday</label>
    <input name="Birhtday" type="date" />

    <label> Gender</label>
    <input name="Gender" type="text" />

    <label> Breed</label>
    <input name="Breed" type="text" />

    <label> Color</label>
    <input name="Color" type="text" />

    <button type="submit" > submit/button>
</form>   
